.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* ===== Product Card ===== */
.card {
  border: 1px solid #ddd;
  width: 200px;
  padding: 10px;
  position: relative;
  border-radius: 8px;
  background-color: white;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 4px;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.card-title {
  font-size: 14px;
  margin: 10px 0 5px;
}

.review-text {
  font-size: 12px;
  color: #555;
  margin: 0;
}

.stock {
  color: green;
  font-size: 13px;
}

.price {
  font-size: 20px;
  margin: 7px 0;
  color: red;
}

.old-price {
  text-decoration: line-through;
  margin-right: 5px;
  color: #999;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.icon-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

/* ===== Rating ===== */
.rating {
  font-size: 16px;
  color: gold;
}

.text{
  color: #000;
}
